*.class

# Package Files #
*.jar
*.war
*.ear
bin/Debug/*.dll
obj/Debug/*.pdb
obj/Debug/*.dll
obj/Debug/*
c#/adapter/obj/Debug/adapter.csproj.FileListAbsolute.txt
c#/adapter/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
c#/adapter/obj/Debug/adapter.dll
c#/adapter/obj/Debug/adapter.pdb
c#/abstractfactory/bin/Debug/abstractfactory.dll
c#/abstractfactory/bin/Debug/abstractfactory.pdb
c#/abstractfactory/bin/Debug/nunit.framework.dll
c#/abstractfactory/bin/Debug/nunit.framework.xml
c#/abstractfactory/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
c#/abstractfactory/obj/Debug/abstractfactory.csproj.FileListAbsolute.txt
c#/abstractfactory/obj/Debug/abstractfactory.csprojResolveAssemblyReference.cache
c#/abstractfactory/obj/Debug/abstractfactory.dll
c#/abstractfactory/obj/Debug/abstractfactory.pdb
c#/adapter/bin/Debug/adapter.dll
c#/adapter/bin/Debug/adapter.pdb
c#/adapter/bin/Debug/nunit.framework.dll
c#/adapter/bin/Debug/nunit.framework.xml
*.user
*.suo
